.searchboxInput {
  color: rgb(var(--background-start-rgb));
}

.refinementList {
  background: #000;
  color: rgb(220, 220, 220);
}

.refinementItemLabel {
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
}

.refinementItemLabelText {
  white-space: nowrap;
}

.refinementItemCount {
  height: 20px;
}

.hitsItem {
  background: #000;
  color: rgb(220, 220, 220);
  text-align: center;
}

.paginationItem {
  background: #000;
  color: rgb(220, 220, 220);
  border-radius: 5px;
}

.paginationItemLink {
  color: rgb(220, 220, 220);
}
